<form [formGroup]="signinForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="signin(signinForm)" novalidate>
    <mat-form-field>
        <input
            matInput type="text"
            placeholder="Username"
            formControlName="username"
            required
        >
        <mat-error>Give your registered username!</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
            matInput
            type="password"
            placeholder="Password"
            color="primary"
            formControlName="password"
            required
        >
        <mat-error>Password is a mandatory field!</mat-error>
    </mat-form-field>
    <button
        mat-raised-button
        color="primary"
        style="margin:15px 0 0 0">
        Login
    </button>
</form>
