<h1 class="asztalfoglalas">Reservation</h1>
<h3 class= "asztalok">Please choose from the available tables:    </h3>
<mat-form-field panelClass="asztal" appearance="fill">
  <input matInput type="text" />
  <mat-label>Chosen table</mat-label>
  <mat-select placeholder="Choosen table" name="freeTables" [(value)]="selectedTable">
    <mat-option *ngFor="let freeTable of freeTables" [value]="freeTable.tablename">
      {{freeTable.tablename}}
    </mat-option>
  </mat-select>
</mat-form-field>
<h3 class= "valasztottAsztal">Chosen table: {{selectedTable}}</h3>
<table mat-table [dataSource]="tables" class="mat-elevation-z8" align="center">
  
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="text-center"> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.tablename}} </td>
  </ng-container>

    <!-- Available Column -->
    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Availability </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
        <!-- Type Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Type </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let type of element.labels">
            {{type.text}}
        </ng-container>
        </td>
      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<section>
  <div class="button">
    <button (click)="showSuccess()" mat-raised-button color="primary">Confirm</button>
  </div>
</section>