<h1 class="reservedTable">List of the reserved tables</h1>
<div class="reservation" *ngFor="let reservation of reservations">
    <mat-accordion hideToggle>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    #{{reservation.id}} - {{ reservation.resturanttable.tablename }}
                </mat-panel-title>
                <mat-panel-description>
                    <span><mat-icon>schedule</mat-icon><span class="label" >{{ reservation.created_at }}</span></span>
                    <ng-container *ngFor="let type of reservation.resturanttable.labels">
                        <span><mat-icon>place</mat-icon><span class="label" >{{  type.text }}</span></span>
                        </ng-container>
                    <button (click)= deleteReservations(reservation.id) fxLayoutAlign="end">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-panel-description>
        </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</div>
