<form [formGroup]="signupForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="signup(signupForm)" [ngClass]="{'up': password.value.length > 0}" novalidate>
    <mat-form-field>
        <input
            matInput
            type="text"
            placeholder="Your username"
            formControlName="username"
            required
            appNameFormat
        >
        <mat-error>Field is mandatory, minimum character: 5!</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
            matInput
            #password
            type="password"
            placeholder="Your password"
            color="primary"
            formControlName="password"
            required
        >
        <mat-error>Give a proper password for the given properties!</mat-error>
    </mat-form-field>
    <div *ngIf="password.value.length > 0">
        <mat-label>Password strength:</mat-label>
        <mat-password-strength
            #passwordStrength
            [password]="password.value"
        >
        </mat-password-strength>
        <mat-password-strength-info
            [passwordComponent]="passwordStrength"
            lowerCaseCriteriaMsg="at least one lowercase character"
            upperCaseCriteriaMsg="at least one uppercase character"
            digitsCriteriaMsg="at least one number"
            specialCharsCriteriaMsg="at least one special character ($,#,%,*...)"
            minCharsCriteriaMsg="needs to be at least 8 character long"
        >
        </mat-password-strength-info>
	</div>
    <button
        mat-raised-button
        color="primary"
        style="margin:15px 0 0 0"
    >
        Registration
    </button>
</form>
