::ng-deep .mat-form-field {
    .mat-input-element {
        color: rgb(0, 0, 0);
    }
    .mat-form-field-label {
        color: rgb(0, 0, 0);
    }
    .mat-form-field-underline {
        background-color: red;
    }
    .mat-form-field-ripple {
        background-color: rgb(158, 34, 34);
    }
    .mat-form-field-required-marker {
        color: rgb(0, 0, 0);
    }
    .mat-datepicker-toggle{
        color:rgb(0, 0, 0);
     }
}
