
.asztalfoglalas{
    text-align: center;
    margin-top: 25px;
    }

.asztalok{
   float:left;
    margin-top: 27px;
    margin-left: 155px;
}
.valasztottAsztal{
    margin-left: 155px;
}
.button{
    margin-top: 50px;
    text-align: center;
}
th.mat-header-cell {
    text-align: center !important;
  }
 table {
    width: 80%;
    margin-top: 25px;
    text-align: center !important;
  }