<mat-list>
	<mat-list-item routerLink="/reservation/new-reservation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" matRipple>
		<mat-icon mat-list-icon>add_box</mat-icon>
		<h4 mat-line>New reservation</h4>
	</mat-list-item>
	<mat-list-item routerLink="/reservation/my-reservation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" matRipple>
		<mat-icon mat-list-icon>history</mat-icon>
		<h4 mat-line>My reservations</h4>
	</mat-list-item>
	<mat-list-item *ngIf="(isLoggedIn$ | async)" (click)="logout()" matRipple>
		<mat-icon mat-list-icon>logout</mat-icon>
		<h4 mat-line>Logout</h4>
	</mat-list-item>
</mat-list>
